#*.classpath
#*.project
#target
#dist
#.settings
#.myeclipse
#.mymetadata
#.springBeans

#not include workspace settings
.metadata


*.jar
*.war
*.zip
*.ear
*.class
*.bak
bin
classes